/*//obnulenie*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.main {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.box {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box a {
  color: #f5f6fa;
  font-size: 40px;
  font-weight: 700;
}

.box_1 {
  background-color: #e67e22;
}

.box_2 {
  background-color: #2ecc71;
}

.box_3 {
  background-color: #f1c4f0;
}

.box_4 {
  background-color: #3498db;
}

.aside {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  z-index: 99;
}
.aside .button {
  position: absolute;
  top: 10px;
  right: -65px;
  z-index: 99;
}
.aside .button .button__container {
  position: relative;
  height: 46px;
  width: 52px;
  background-color: #2f3640;
}
.aside .button .button__container .top_bar {
  position: absolute;
  top: 8px;
  left: 4px;
  height: 4px;
  width: 44px;
  background-color: #f5f6fa;
}
.aside .button .button__container .mid_bar {
  position: absolute;
  top: calc(50% - 2px);
  left: 4px;
  height: 4px;
  width: 44px;
  background-color: #f5f6fa;
}
.aside .button .button__container .btm_bar {
  position: absolute;
  bottom: 8px;
  left: 4px;
  height: 4px;
  width: 44px;
  background-color: #f5f6fa;
}
.aside .aside__container {
  height: 100vh;
  width: 100%;
  background-color: #353b48;
}
.aside .aside__container nav {
  height: 100%;
}
.aside .aside__container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}
.aside .aside__container nav ul li {
  margin: 0 0 0 20px;
  position: relative;
}
.aside .aside__container nav ul li a {
  font-size: 20px;
  color: #fbc531;
  display: block;
}
.aside .aside__container nav ul li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #44bd32;
  position: absolute;
  bottom: -200%;
  left: -11px;
}

.aside._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main._active {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

@media screen and (max-width: 375px) {
  .aside {
    width: 80%;
  }

  .main._active {
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}